  body{
    background-color: #EFF5F5;
  }

  hr { background-color: #EFF5F5;

    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
      width: 1.4%;
      height: 0.1px;
     }
     h1 {
     color: #66BFBF;}
h2 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
